@model ApplicationUser
@{
    ViewData["Title"] = "Account Edit";
}
<br />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li><a href="@Url.Action("Index", "Account")">Account</a><i class="fa fa-circle"></i></li>
        <li><span>Edit Account</span></li>
    </ul>
    <div class="page-toolbar"></div>
</div><br />
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase ">Edit Account</span>
                </div>
            </div>
            <form asp-controller="Account" asp-action="Edit" method="post" class="form-horizontal">
                @Html.HiddenFor(model => model.Id)
                
                <div class="portlet light bordered">
                    <div class="portlet-title">Roles</div>
                    @foreach (var item in ViewBag.Roles)
                    {
                        bool current = true;
                        @foreach (var item2 in ViewBag.CurrentRoles)
                        {
                            if (item.Name == item2)
                            {
                                current = false;
                                <label>
                                    <input name="rolesFrmCol" type="checkbox" class="checkbox-inline tab-space" checked value="@item.Name" id="@item.Id" />@item.ConcurrencyStamp
                                </label>
                                <br />
                            }
                        }
                        if (current) { 
                        <label>
                            <input name="rolesFrmCol" type="checkbox" class="checkbox-inline tab-space" value="@item.Name" id="@item.Id" />@item.ConcurrencyStamp
                        </label>
                            <br />
                        }
                    }
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" id="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn btn-default" data-toggle="modal" id="passModal" data-target="#exampleModal">Şifreyi Değiştir</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-success">Save</button>
                                <button type="submit" asp-action="Index" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal" id="modal"></div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        $(function () {
            $("#passModal").click(function () {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Account/ChangePasswordModal",
                    success: function (view)
                    {
                        $('#modal').html(view);
                        $('#modal').modal();
                    },
                    error: function (err)
                    {
                        alert("bilinmeyen bir hata oluştu!"+err);
                    }
                });
            });
            
        });
      
    </script>

}