@model SliderViewModel

@{
    ViewBag.Title = "Create Slider";
}
<head>

    <link href="@(ViewBag.AssetsUrl)/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="@(ViewBag.AssetsUrl)/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="@(ViewBag.AssetsUrl)/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<br />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li><a href="@Url.Action("Index","Slider")">Sliders</a><i class="fa fa-circle"></i></li>
        <li><span>Create Slider</span></li>
    </ul>
    <div class="page-toolbar"></div>
</div><br />

<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase ">Create New Slider</span>
                </div>
            </div>

            <form asp-controller="Slider" asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="row">
                    <div class="col-md-12">
                        @* @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label asp-for="TemplateId"></label><br />
                            <select asp-for="TemplateId" asp-items="@ViewBag.Templates" class="form-control">
                                <option value="">Seçiniz</option>
                            </select>
                    
                            @Html.ValidationMessageFor(model => model.TemplateId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.IsPublished)
                            @Html.CheckBoxFor(model => model.IsPublished, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IsPublished, "", new { @class = "text-danger" })
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <button type="submit" tabindex="10" class="btn blue">Save</button>
                        <a type="button" tabindex="11" class="btn default" href="/Slider/Index">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

