@model GalleryItemViewModel
@{
    ViewData["Title"] = "Create Gallery Item";
}
<link href="@(ViewBag.AssetsUrl)global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css">
<script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
<script src="~/js/generate-slug.js"> </script><br />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li><a asp-controller="GalleryItem" asp-action="Index" class="nav-link">Gallery Item</a><i class="fa fa-circle"></i></li>
        <li><span>New Gallery Item</span></li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase ">Create New Gallery Item</span>
                </div>
            </div>

            <form asp-controller="GalleryItem" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        @* @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <div id="tree">

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.Title)
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.GalleryId)
                            @Html.DropDownListFor(model => model.GalleryId, (IEnumerable<SelectListItem>)ViewBag.GalleryList, "Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GalleryId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.Description)
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.Photo)
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Photo, new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <button class="btn btn-info" id="uploadModal" type="button">...</button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.Video)
                            @Html.TextBoxFor(model => model.Video, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.Meta1)
                            @Html.TextBoxFor(model => model.Meta1, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Meta1, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.IsPublished)
                            @Html.CheckBoxFor(model => model.IsPublished, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IsPublished, "", new { @class = "text-danger" })
                        </div>
                        @Html.HiddenFor(model => model.categoriesHidden)
                    </div>
                    <div class="form-group">
                        <button type="submit" tabindex="10" class="btn blue">Save</button>
                        <a type="button" tabindex="11" class="btn default" href="/GalleryItem/Index">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dosya Yükle</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" style="display:none;" id="browseSave">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts{
    <script src="@(ViewBag.AssetsUrl)global/plugins/jstree/dist/jstree.js"></script>
    <script>
        $(function () {
            $("#uploadModal").click(function () {
                $.ajax({
                    cache: false,
                    type:"GET",
                    url: "/Media/Create",
                    success: function (view) {
                        $('.modal-body').html(view);
                        $('.modal').modal();
                    },
                    error: function (err) {
                        alert("bilinmeyen bir hata oluştu!" + err);
                    }
                });
            });
        });
        
    </script>

    <script>

        var handleSample = function () {
            $('#tree').jstree({
                'plugins': ["wholerow", "checkbox"],
                'core': {
                    "themes": {
                        "responsive": false,
                        "icons": false
                    },
                    'data': [
                            @foreach(GalleryItemCategory item in (IEnumerable<GalleryItemCategory>)ViewBag.CategoryList)
                    {
                    if(item.ParentCategoryId==null)
                    {
                        <text>
                        { "id": '@item.Id', "parent": "#", "text": "@item.Name" },
                        </text>
                    }
                    else
                    {
                        <text>
                        { "id": '@item.Id', "parent": "@item.ParentCategoryId", "text": "@item.Name" },
                        </text>
                    }
                }
                    ]
                }
            });
            }
        handleSample();
    </script>
    <script>
        $(function () {
            // 6 create an instance when the DOM is ready
            $('#tree').jstree();
            // 7 bind to events triggered on the tree
            $('#tree').on("changed.jstree", function (e, data) {
                console.log(data.selected);
                $('#categoriesHidden').val(data.selected);
            });
            // 8 interact with the tree - either way is OK
            $('button').on('click', function () {
                $('#tree').jstree(true).select_node('child_node_1');
                $('#tree').jstree('select_node', 'child_node_1');
                $.jstree.reference('#tree').select_node('child_node_1');
            });
        });
    </script>
}