@model FormFieldViewModel

<!DOCTYPE html>
<meta charset="utf-8" />
<title>@ViewBag.Title-Kariyer Portalı</title>
<br />
<style>
    textarea {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Form")">Formlar</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Yeni Form Alanı</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Yeni Form Alanı</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row">
                <form asp-controller="FormField" asp-action="Create" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    <div class="col-md-12 ">
                        <div class="portlet light bordered">
                            <div class="portlet-body form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <text>Name:</text>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <text>Form Seçiniz:</text><br />
                                        @Html.DropDownList("FormId", (IEnumerable<SelectListItem>)ViewBag.Forms, "Seçiniz", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FormId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <text>Form Alanı Tipi Seçiniz:</text>
                                        @*@Html.EnumDropDownListFor(model => model.FieldType, "Seçiniz", new { @tabindex = "3", @class = "form-control" })*@
                                        <select asp-for="FieldType" class="form-control" asp-items="Html.GetEnumSelectList<FieldType>()">
                                            >
                                        </select>
                                        @Html.ValidationMessageFor(model => model.FieldType, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <text>Zorunlu Alan:</text>
                                        @Html.CheckBoxFor(model => model.Required, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Required, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <text>Varsayılan Değer Giriniz:</text>
                                        @Html.TextBoxFor(model => model.Value, new { @tabindex = "5", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <input type="submit" value="Cancel" class="btn btn-default" asp-controller="FormField" asp-action="Index" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}



